@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}
@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 82%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 83 78% 55%;
    --primary-foreground: 0, 0%, 0%;

    --map: 0, 0%, 97%;
    --map-border: 0, 0%, 83%;
    --map-foreground: 0, 0%, 19%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --title: 0, 0%, 4%;
    --paragraph: 0, 0%, 34%;

    --border: 214.3 31.8% 91.4%;
    --input: 0, 0%, 19%;
    --ring: 56, 87%, 55%;

    --radius: 0.5rem;

    --sidebar-border: 0, 0%, 81%;
  }

  .dark {
    --background: 0, 0%, 8%;
    --foreground: 0, 0%, 29%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 83 78% 55%;
    --primary-foreground: 0, 0%, 0%;

    --map: 0, 0%, 27%;
    --map-border: 0, 0%, 52%;
    --map-foreground: 0, 0%, 95%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 70%;
    --accent-foreground: 0, 0%, 0%;

    --destructive: 0 90% 40.6%;
    --destructive-foreground: 210 40% 98%;

    --title: 0, 0%, 97%;
    --paragraph: 0, 0%, 87%;

    --border: 217.2 32.6% 17.5%;
    --input: 0, 0%, 19%;

    --sidebar-border: 0, 0%, 64%;
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  body {
    @apply bg-background;
  }
  :root {
    @apply bg-background;
  }
  #map {
    @apply bg-background;
    @apply dark:grid-bg-dark grid-bg;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .grid-bg {
    background-size: 3.5rem 3.5rem;
    background-image: linear-gradient(
        to right,
        rgba(173, 173, 173, 0.5) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(173, 173, 173, 0.5) 1px, transparent 1px);
  }

  .grid-bg-dark {
    background-size: 3.5rem 3.5rem;
    background-image: linear-gradient(
        to right,
        rgba(134, 134, 134, 0.5) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(134, 134, 134, 0.5) 1px, transparent 1px);
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .to-dark-filter {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }

  .sidebarAnimation {
    transition: width 0.1s ease-in-out;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

*::-moz-selection {
  background: #94949450;
}
*::selection {
  background: #94949450;
}
*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}
*:focus-visible {
  outline: none;
  box-shadow: none;
}
.cursorCrosshair {
  cursor: crosshair !important;
}
