@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  body {
    @apply dark:bg-neutral-800 bg-[#f8f6f6];
  }
  :root {
    @apply dark:bg-neutral-800 bg-[#f8f6f6];
  }
  #map {
    @apply dark:bg-neutral-700 bg-[#eeeeee];
    @apply dark:grid-bg-dark grid-bg;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .grid-bg {
    background-size: 3.5rem 3.5rem;
    background-image: linear-gradient(
        to right,
        rgba(173, 173, 173, 0.5) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(173, 173, 173, 0.5) 1px, transparent 1px);
  }

  .grid-bg-dark {
    background-size: 3.5rem 3.5rem;
    background-image: linear-gradient(
        to right,
        rgba(134, 134, 134, 0.5) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(134, 134, 134, 0.5) 1px, transparent 1px);
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .to-dark-filter {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }

  .sidebarAnimation {
    transition: width 0.1s ease-in-out;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

*::-moz-selection {
  background: #94949450;
}
*::selection {
  background: #94949450;
}
*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}
*:focus-visible {
  outline: none;
  box-shadow: none;
}
.cursorCrosshair {
  cursor: crosshair !important;
}
