@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  body {
    @apply dark:bg-gray-800 bg-[#f8f6f6];
  }
  :root {
    @apply dark:bg-gray-800 bg-[#f8f6f6];
  }
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .to-dark-filter {
      filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }

    .sidebarAnimation {
      transition: width 0.1s ease-in-out;
    }
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

*::-moz-selection {
  background: #94949450;
}
*::selection {
  background: #94949450;
}
*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}
*:focus-visible {
  outline: none;
  box-shadow: none;
}
.cursorCrosshair {
  cursor: crosshair !important;
}
